{% extends 'core/base.html' %}

{% block title %}Crear categoría{% endblock %}

{% block content %}

<div class="container text-align-left col-sm-11 col-md-6 box">
    <h3>Añadir nueva categoría</h3><br>
    <form id="form_creacion" action="" method="POST">
        {% csrf_token %}
        <table class="container col-12">
            <label for="id_user">Nueva categoría:</label>
            <input type="text" name="name" class="form-control" maxlength="100" placeholder="Ej: Redes sociales..." required id="id_name">

            <select name="user" class="form-control" id="id_user" hidden>
                <option value="" >---------</option>
                <option selected value="{{request.user.profile.id}}">{{request.user.profile}}</option>
            </select> <br>
        </table>        
        <div class="col-12 p-0 m-0 mt-3">
            <input type="submit" class="btn container col-12 btn-block" value="Crear" />
            <p class= " text-center mt-3">
                Si desea volver, haz click <a href="/">aquí.</a> <br> Si desea añadir un nuevo sitio,<a href="/create">aquí.</a>
            </p>
        </div>                  
    </form>
</div>

{% endblock %}
