{% extends 'core/base.html' %}

{% block title %}Links{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="row text-center col-12">
  <a class="nav-link col-4" href="/create">+ Agregar nuevo sitio</a>
  <a class="nav-link col-4" href="/create_category">+ Agregar nueva categoria</a>

  <div class="container col-10">
    {% for cat in categories %}
      {% if cat.user == request.user.profile %}        
        <div class="row cat mb-5">
          <h3 class="container col-12 float-left ml-0">
            {{cat.name}}
          </h3>            
          {% for lk in links %}
            {% if lk.category == cat %}
              <div class="float-left col-2 p-3">
                <a href="{{lk.link}}">
                {% if lk.img %}
                  <img src="{{lk.img.url}}" alt="">
                {% else %}  
                  <img src="core/static/core/none.jpg" alt="">
                {% endif %}               
                </a>
                <p>
                  {{lk.name}} 
                </p>
              </div>  
            {% endif %}                
          {% endfor %}          
        </div>
      {% endif %}
    {% endfor %}      
  </div>        
</div>

{% else %}  
<div class="row text-center col-12">
  Hi! welcome to the board collection   
</div>
{% endif %}

{% endblock %}


