{% extends 'core/base.html' %}
{% block title %}Registro{% endblock %}

{% block content %}
<div class="container top logg bot col-11 col-md-6 mb-5">
  <div class="row mt-3">
    <div class="col-md-9 mx-auto mb-5">
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}   
        <h3 class="text-center mb-4">Registrar</h3>
        {% if messages %}
        <div class="messages" style="color: red;">
          {% for message in messages %}
          <div {% if message.tags %} class="alert alert-sm alert-{{ message.tags }}"{% endif %}>
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <p>
          <input type="text" name="username" placeholder="Nombre de usuario" id="usernameField" value="{{fieldValues.username}}" class="form-control"/>
        </p>
        <div class="invalid_feedback invalid-feedback" style="display:none"></div>
        {% if form.errors %}
          {{form.errors}}
        {% endif %}
        <p>
          <input type="email" name="email" placeholder="Email" class="form-control" id="emailField" value="{{fieldValues.email}}"/>
        </p>
        <div class="emailFeedBackArea invalid-feedback" style="display:none">
        </div>  
        <input type="password" name="password" placeholder="Password" class="form-control" id="passwordField"/>
        <input type="submit" value="Register" class="btn home btn-block" /><br>
      </form>     
    </div>
  </div>
</div>
{% endblock %}


  
