img {
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
  }
  .link {
    background-color: blueviolet;
  }
  img:hover {
    transform: rotate(10deg);
  }
  img {
    transition: transform 0.2s linear 0.1s;
  }
  nav {
    border-bottom: 1px solid;
    margin-bottom: 10vh;
    padding: 10px;
  }